* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-color: #333;
  --background-color: #eee;
}

@font-face {
  font-family: mebtte_font;
  src: url(./font.ttf);
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: var(--background-color);
  transition: background-color 0.3s;
  scroll-behavior: smooth;
}

.container,
section {
  width: 100%;
  height: 100%;
}

p,
footer {
  font-family: mebtte_font;
  color: var(--font-color);
  transition: color 0.3s;
}

#author {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#author > .author {
  font-size: 28px;
  font-family: mebtte_font;
  margin-bottom: 10px;
  white-space: nowrap;
}

#author > .author > a {
  text-decoration: none;
  color: var(--font-color);
  transition: color 0.3s;
}

#author > .author > a:hover {
  text-decoration: underline;
}

#author > .description {
  font-size: 16px;
  color: var(--font-color);
  transition: color 0.3s;
  opacity: 0.8;
  white-space: nowrap;
}

#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#work > .label {
  font-family: mebtte_font;
  color: var(--font-color);
  transition: color 0.3s;
  white-space: nowrap;
  font-size: 24px;
}

#work > .private {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

#work > .private > .private-work {
  list-style: none;
  margin: 0 15px;
  font-size: 18px;
  font-family: mebtte_font;
}

#work > .private > .private-work > a {
  color: var(--font-color);
  text-decoration: none;
}

#work > .private > .private-work > a:hover {
  text-decoration: underline;
}

#work > .public {
  font-size: 0;
  width: 400px;
  margin-top: 50px;
}

@media screen and (max-width: 500px) {
  #work > .public {
    width: 280px;
  }
}

#work > .public > .public-work {
  list-style: none;
  display: inline-block;
  padding: 10px;
  width: 25%;
}

@media screen and (max-width: 500px) {
  #work > .public > .public-work {
    width: 33.33%;
  }
}

#work > .public > .public-work > a {
  text-decoration: none;
}

#work > .public > .public-work > a > img {
  display: block;
  width: 100%;
}

#work > .public > .public-work > a > p {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact > .contact-ways {
  display: flex;
  align-items: flex-end;
}

#contact > .contact-ways > li {
  list-style: none;
  margin: 0 10px;
}

#contact > .contact-ways > li > a > svg {
  width: 32px;
  height: 32px;
}

#contact > .contact-ways > li > a > svg > path {
  fill: var(--font-color);
  transition: color 0.3s;
}

#contact > .copyright {
  margin-top: 20px;
  font-size: 12px;
  color: var(--font-color);
  transition: color 0.3s;
}
